%tr
  %td
    %table
      %tr
        %td
          - if @membership.user.signup_complete?
            %h1= t('workarea.storefront.email.membership_created.existing_user_title', account: @membership.account.name)
            %p= t('workarea.storefront.email.membership_created.existing_user_details_html', login_link: link_to(t('workarea.storefront.email.membership_created.log_in'), login_url), account: @membership.account.name)
          - else
            %h1= t('workarea.storefront.email.membership_created.new_user_title', account: @membership.account.name)
            %p= t('workarea.storefront.email.membership_created.new_user_details_html', signup_link: link_to(t('workarea.storefront.email.membership_created.finish_signup'), edit_signup_url(@membership.user.signup.token)), login_link: link_to(t('workarea.storefront.email.membership_created.log_in'), login_url), account: @membership.account.name)
